
$borde: #6dbcdc;
$primary-hover: #ffa700;

$text-primary: #fff;
$text-secondary: #909090;

$border-primary: #3d3d3d;
$border-secondary: #474747;

$background-primary: #272727;
$background-secondary: #1d1d1d;


$success: #69af00;
$danger: #ff0a4e;

$primary-button: #2C2C2E;
$hover-primary-button: #3d3d43;

$primary-background: #2C2C2E;




